<div class="container">

  <div class="row">
    <div class="col-md-10 mx-auto">

      <div class="d-flex", style="min-width: 480px;">
        <div class="mt-4 mb-4 mr-auto bg-light d-inline-block">
          <h4 class="px-2 pt-2">商品一覧</h4>
        </div>

        <div class="text-right">
          <%= link_to new_admin_item_path do %>
            <button type="button" class="btn btn-success rounded-circle p-0 mt-4" style="width:2rem;height:2rem;">＋</button>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>商品id</th>
                <th>商品名</th>
                <th>税抜価格</th>
                <th>ジャンル</th>
                <th>ステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @items.each do |item| %>
                <tr>
                  <td>
                    <%= item.id %>
                  </td>
                  <td>
                    <%= link_to admin_item_path(item.id) do %>
                      <%= item.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= item.price.to_s(:delimited) %>
                  </td>
                  <td>
                    <%= item.genre.name %>
                  </td>
                  <% if item.is_active? %>
                    <td class="text-success"><strong>販売中</strong></td>
                  <% else %>
                    <td class="text-secondary"><strong>販売停止中</strong></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <h5 class="d-flex justify-content-center"><%= paginate @items %></h5>
        </div>
      </div>

    </div>
  </div>

</div>