<div class="container" style="min-width: 300px;">

  <div class="row">
    <div class="col-md-10 mx-auto">

      <div class="mt-4 mb-4 bg-light d-inline-block">
        <h4 class="px-2 pt-2">商品一覧</h4>
      </div>

      <div class="row">

        <div class="col-md-4 ">
          <%= attachment_image_tag @item, :image, :fill, 800, 600, format: "jpg", class: "img-fluid" %>
        </div>

        <div class="col-md-8">

          <div class="row">
            <div class="col-sm-4">
              <p>商品名</p>
            </div>
            <div class="col-sm-8">
              <h5><%= @item.name %><h5>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <p>商品説明</p>
            </div>
            <div class="col-sm-8">
              <h5><%= @item.introduction %></h5>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <p>ジャンル</p>
            </div>
            <div class="col-sm-8">
              <h5><%= @item.genre.name %></h5>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <p>
                税込み価格<br>
                (税抜価格)
              </p>
            </div>
            <div class="col-sm-8">
              <h5 class="pt-2"><%= @item.price.to_s(:delimited) %>円</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <p>販売ステータス</p>
            </div>
            <div class="col-sm-8">
              <% if @item.is_active? %>
                <h5 class="text-success"><strong>販売中</strong></h5>
              <% else %>
                <h5 class="text-secondary"><strong>販売停止中</strong></h5>
              <% end %>
            </div>
          </div>

        </div>

      </div>

      <div class="text-center pt-4">
        <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>
      </div>

    </div>
  </div>

</div>