<div class="container" style="min-width: 300px;">
  <div class="row">
    <div class="col-md-10 mx-auto">

      <div class="mt-2 mb-4 bg-light d-inline-block">
        <h4 class="px-2 pt-2"><%=  %></h4>
      </div>

      <%= form_with model: @customer, url: admin_customer_path(@customer.id), local: true do |f| %>

        <div class="row mx-2">
          <div class="col-lg-9 mx-auto">

            <div class="form-group row">
              <p class="col-md-3 pt-1 mb-0">会員ID</p>
              <p class="col-md-9 pt-1"><%= @customer.id %></p>
            </div>

            <div class="form-group row">
              <p class="col-md-3 pt-1 mb-0">名前</p>
              <%= f.text_field :last_name, autofocus: true, autocomplete: "email", placeholder:"長野", class: "form-control col-5 col-sm-4" %>
              <%= f.text_field :first_name, autocomplete: "email", placeholder:"恵子", class: "form-control col-5 col-sm-4 offset-1" %>
            </div>

            <div class="form-group row">
              <p class="col-md-3 pt-1 mb-0">フリガナ</p>
              <%= f.text_field :last_name_kana, autocomplete: "email", placeholder:"ナガノ", class: "form-control col-5 col-sm-4" %>
              <%= f.text_field :first_name_kana, autocomplete: "email", placeholder:"ケイコ", class: "form-control col-5 col-sm-4 offset-1" %>
            </div>

            <div class="form-group row">
              <p class="col-md-3 pt-1 mb-0">郵便番号</p>
              <%= f.text_field :postal_code, autocomplete: "email", placeholder:"0000000(ハイフンなし)", class: "form-control col-md-9" %>
            </div>

            <div class="form-group row">
              <p class="col-md-3 pt-1 mb-0">住所</p>
              <%= f.text_field :address, autocomplete: "email", placeholder:"東京都渋⾕区代々⽊神園町0-0", class: "form-control col-md-9" %>
            </div>

            <div class="form-group row">
              <p class="col-md-3 pt-1 mb-0">電話番号</p>
              <%= f.text_field :telephone_number, autocomplete: "email", placeholder:"0000000000(ハイフンなし)", class: "form-control col-md-9" %>
            </div>

            <div class="form-group row">
              <p class="col-md-3 pt-1 mb-0">メールアドレス</p>
              <%= f.text_field :email, autocomplete: "email", placeholder:"sample@example.com", class: "form-control col-md-9" %>
            </div>

          </div>
        </div>

        <div class="text-center">
          <%= f.submit "変更を保存", class:"btn btn-success mt-3 px-5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>