<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">

      <div class="mt-4 mb-4 bg-light d-inline-block">
        <h4 class="px-2 pt-2">ログイン</h4>
      </div>

      <div class="pt-2 pb-4 pl-3">
        <div class="bg-light d-inline-block">
        <h5 class="px-2 pt-2">会員の方はこちらからログイン</h5>
        </div>
      </div>

      <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>

        <div class="row mx-2">
          <div class="col-lg-9 mx-auto">

            <%= render "layouts/devise_message" %>

            <div class="form-group row">
              <p class="col-lg-3 pt-1 mb-0">メールアドレス</p>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-lg-9" %>
            </div>

            <div class="form-group row">
              <p class="col-lg-3 pt-1 mb-0">パスワード</p>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-lg-9" %>
            </div>

          </div>
        </div>

        <div class="text-center">
          <%= f.submit "ログイン", class:"btn btn-primary mt-3 px-5" %>
        </div>
      <% end %>

      <div class="pt-5 pb-4 pl-3">
        <div class="bg-light d-inline-block">
          <h5 class="px-2 pt-2">会員登録がお済みでない方</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 text-center">
          <%= link_to "こちら", new_customer_registration_path %>
          <p class="d-inline-block">から新規登録を⾏ってください。</p>
        </div>
      </div>

    </div>
  </div>
</div>