</div>
<div class="container" style="min-width: 330px;">

  <div class="row">
    <div class="col-md-10 mx-auto">

      <div class="mt-4 mb-4">
        <h4 class="px-2 pt-2">商品一覧<small>(全<%= @items.length %>件)<small></h4>
      </div>

      <div class="row">
        <% @items.each do |item| %>
          <% if item.is_active? %>
            <div class="col-4 col-md-3 px-2 pb-3">
              <div class="card">
                <%= link_to item_path(item.id) do %>
                  <%= attachment_image_tag item, :image, size: "400x300", format: "jpg", class: "card-img-top img-fluid" %>
                <% end %>
                <%= link_to item_path(item.id), class: "text-dark" do %>
                  <div class="card-body">
                    <h6 class="card-title text-truncate"><%= item.name %></h6>
                    <% tax_included = (BigDecimal(item.price) * BigDecimal("1.1")).ceil %>
                    <h6 class="card-text">￥<%= tax_included.to_s(:delimited) %></h6>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <h5 class="d-flex justify-content-center"><%= paginate @items %></h5>

    </div>
  </div>

</div>